<ion-content fullscreen class="ion-padding">
  <form (submit)="onSubmit($event)" novalidate>

    <!-- Quiz title -->
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-input
            id="quiz-title"
            placeholder="Enter quiz title"
            [formField]="quizForm.title">
          </ion-input>
        </ion-item>

        @if(quizForm.title().touched() && quizForm.title().invalid()) {
          <ion-text color="danger">
            <ul>
              @for (error of quizForm.title().errors(); track error) {
                <li>{{ error.message }}</li>
              }
            </ul>
          </ion-text>
        }
      </ion-card-content>
    </ion-card>

    <!-- Quiz description -->
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-input
            id="quiz-description"
            placeholder="Enter quiz description"
            [formField]="quizForm.description">
          </ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <!-- Questions -->
    @for(question of quizForm.questions; track $index) {
      @let questionIndex = $index;
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Question {{ $index + 1 }}
          </ion-card-title>
          
              <ion-button
                fill="clear"
                color="success"
                size="small"
                (click)="addOption($index)">
                add option
              </ion-button>

        </ion-card-header>

        <ion-card-content>
          <ion-item>
            <ion-input
              id="question-{{$index}}"
              placeholder="Enter question text"
              [formField]="question.text">
            </ion-input>
          </ion-item>

          <ion-text color="medium">
            <p class="options-title">Options</p>
          </ion-text>

          @for(option of question.choices; track option.id()) {
            <ion-item lines="full">
              <ion-input
                placeholder="Option text"
                [formField]="option.text">
              </ion-input>

              <!--
              <ion-button
                fill="clear"
                color="danger"
                size="small"
                (click)="removeOption(questionIndex, option.id().value())">
                delete
              </ion-button>
              -->

            </ion-item>
          }
        </ion-card-content>
      </ion-card>
    }

    <!-- Buttons -->
    <div class="buttons">
      <ion-button
        expand="block"
        color="primary"
        fill="outline"
        (click)="addQuestion()"
        type="button">
        Add Question
      </ion-button>

      <ion-button
        expand="block"
        color="success"
        type="submit">
        Submit Quiz
      </ion-button>
    </div>

  </form>
</ion-content>