<ion-header>
  <ion-toolbar>
    <ion-title>Créer une room</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    @for (quiz of quizzes; track quiz.id) {
      <ion-item
        [color]="selectedQuizId === quiz.id ? 'primary' : ''"
        (click)="selectQuiz(quiz.id)">
        <ion-label>
          {{ quiz.title }} ({{ quiz.questions.length }} questions)
        </ion-label>
      </ion-item>
    }
  </ion-list>

  @if(error) {
    <p style="color:red">{{ error }}</p>
  }

  <ion-button expand="block" (click)="createRoom()" [disabled]="!selectedQuizId">
    Créer la room
  </ion-button>

</ion-content>